[Unit]
Description=Sync Lexico SIP credentials every 15 seconds

[Timer]
OnBootSec=20s
OnUnitActiveSec=15s
AccuracySec=2s
Unit=lexico-sip-credentials-sync.service

[Install]
WantedBy=timers.target
